* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme='light'] {
  --primary-color: rgb(59 130 246);

  --progressbar-color: rgb(249 115 22);

  --title-color: #000;
  --text-color: #363636;

  --text-selection-color: #ebebeb;
  --text-selection-background-color: #000;

  --background-color: #ebebeb;
  --background-color-2: #e0e0e0;
  --background-color-3: #d9d9d9;
  --background-color-4: #cccccc;
  --background-color-5: #bfbfbf;

  --button-background-color: #363636;
  --button-text-color: var(--text-selection-color);

  --border-color: #b3b3b3;

  --correct-answer-background-color: rgb(20 83 45);
  --wrong-answer-background-color: rgb(127 29 29);
}

html[data-theme='dark'] {
  --primary-color: rgb(147 197 253);

  --progressbar-color: rgb(253 186 116);

  --title-color: #ffffff;
  --text-color: #c9c9c9;

  --text-selection-color: #141414;
  --text-selection-background-color: #ffffff;

  --background-color: #141414;
  --background-color-2: #1f1f1f;
  --background-color-3: #242424;
  --background-color-4: #2e2e2e;
  --background-color-5: #3b3b3b;

  --button-background-color: #f8fafc;
  --button-text-color: var(--text-selection-color);

  --border-color: #424242;

  --correct-answer-background-color: rgb(134 239 172);
  --wrong-answer-background-color: rgb(252 165 165);
}

body {
  height: 100svh;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  height: 100svh;

  max-width: 56rem;
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 1rem;
  margin: auto;
}

@media (max-width: 39.9rem) {
  body {
    font-size: 14px;
  }

  main {
    padding: 0.5rem;
  }
}

::selection {
  color: var(--text-selection-color);
  background-color: var(--text-selection-background-color);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: var(--title-color);
  font-weight: 500;
}

p,
span {
  color: var(--text-color);
  font-weight: 400;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: alias;
}

a:hover {
  color: var(--title-color);
  text-decoration: underline;
}

button {
  display: flex;
  align-items: center;

  height: 40px;
  width: fit-content;
  gap: 8px;
  padding: 0.5rem 1rem;

  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
  border-radius: 8px;
  outline: none;

  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:not(:disabled):hover {
  opacity: 0.8;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

ol {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  padding: 0 2ch;
}

ol > li {
  padding-left: 1ch;
}

ol > li > span {
  color: var(--title-color);
}

ol > li::marker {
  color: var(--title-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color-2);

  border-radius: 7px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;

  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}

header a {
  width: fit-content;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  color: var(--title-color);
}

header h1 {
  all: inherit;
  text-transform: uppercase;
  text-align: center;
}

header a:hover {
  color: var(--text-color);
  text-decoration: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--background-color-2);

  border-radius: 7px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;

  width: 100%;
  height: 40px;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
}

footer div#footer-social-navigation-container,
footer div#footer-theme-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer a,
footer span {
  width: fit-content;
  font-weight: 500;
  font-size: 12px;
}

footer div#footer-theme-container span {
  cursor: pointer;
}

footer div#footer-theme-container span:hover {
  color: var(--title-color);
}

footer div#footer-theme-container span.active {
  color: var(--title-color);
  font-weight: 500;
  text-decoration: underline;
}

.app-container {
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  width: 100%;

  padding: 0;
  gap: 1.5rem;
  flex: 1;
}

.content-container {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.content-container > h2 {
  display: flex;
  align-items: center;

  gap: 1ch;
}

div#guide-container {
  margin-top: 1.5rem;
}

div#main-screen .start-button-container button {
  margin: auto;
}

.question-title-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.question-title-container h2 {
  text-align: center;
}

.question-title-timer-progressbar-container {
  width: 100%;
  height: 0.5rem;
  background-color: var(--background-color-2);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

  overflow: hidden;
}

#question-title-timer-progressbar {
  width: 0%;
  height: 100%;
  background-color: var(--progressbar-color);
}

.question-container {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.question-container + button {
  margin-left: auto;
}

.question-content {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  color: var(--title-color);
}

.question-choice-container {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.choice-button {
  display: flex;
  align-items: start;

  height: fit-content;
  width: 100%;
  gap: 0;
  padding: 0;

  border-radius: 0;

  border-color: var(--background-color-2);
  background-color: var(--background-color-2);

  overflow: hidden;
}

.choice-button:disabled .choice-identifier,
.choice-button:disabled .choice-text {
  background-color: var(--background-color-2);
}

.choice-button:not(:disabled):hover {
  opacity: 1;
}

.choice-button:not(:disabled).selected,
.choice-button:not(:disabled):not(.correct):not(.wrong):hover {
  border-color: var(--primary-color);
}

.choice-identifier {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  min-height: 52px;
  height: 100%;

  color: var(--title-color);

  font-size: 1.25rem;
  line-height: 1.75rem;

  background-color: var(--background-color-2);

  transition: 0.3s ease-in-out;
}

.choice-button:not(:disabled).selected .choice-identifier,
.choice-button:not(:disabled):not(.correct):not(.wrong):hover
  .choice-identifier {
  color: var(--primary-color);
  background-color: var(--background-color-5);
}

.choice-text {
  flex: 1;

  text-align: start;

  font-size: 0.875rem;
  line-height: 1.25rem;

  background-color: var(--background-color);
  color: var(--text-color);

  padding: 1rem;
}

.choice-button.correct {
  border-color: var(--correct-answer-background-color);
}

.choice-button.correct .choice-identifier {
  color: var(--correct-answer-background-color);
}

.choice-button.correct .choice-text {
  background-color: var(--correct-answer-background-color);
  color: var(--button-text-color);
}

.choice-button.empty {
  border-color: var(--progressbar-color);
}

.choice-button.empty .choice-identifier {
  color: var(--progressbar-color);
}

.choice-button.empty .choice-text {
  background-color: var(--progressbar-color);
  color: var(--button-text-color);
}

.choice-button.wrong {
  border-color: var(--wrong-answer-background-color);
}

.choice-button.wrong .choice-identifier {
  color: var(--wrong-answer-background-color);
}

.choice-button.wrong .choice-text {
  background-color: var(--wrong-answer-background-color);
  color: var(--button-text-color);
}

.step-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.step {
  background-color: var(--background-color-2);
  width: 100%;
  height: 8px;
  border-radius: 8px;
}

#history-container {
  margin-top: auto;
  margin-bottom: 1.5rem;

  overflow-y: scroll;
}

#history-container > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.history-quiz-result-container {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.card {
  background: var(--background-color-3);
  padding: 1rem;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  background-color: var(--background-color-4);
}

.append-animation {
  animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.remove-animation {
  animation: fadeOut 0.2s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -10;
}

.overlay-open {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.drawer {
  top: 0;
  right: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  padding: 1rem;

  background-color: var(--background-color);
  width: 100%;
  flex-shrink: 0;
  gap: 1rem;

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.drawer-hidden {
  visibility: hidden;
  width: 240px;
  transform: translateX(240px);
  flex-shrink: 0;
  transition: 325ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.drawer-animate {
  visibility: visible;
  transform: none;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.drawer .history-quiz-result-container button {
  background-color: transparent;
  color: var(--title-color);
  border: none;
  padding: 0 0.25rem;
}

.drawer .history-quiz-result-container button:hover {
  background-color: var(--background-color-4);
}

.drawer .history-quiz-drawer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  flex: 1;
}

.drawer .history-quiz-drawer .history-question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}

.drawer .history-quiz-drawer .history-question-container .question-container {
  gap: 0.5rem;
}

.drawer
  .history-quiz-drawer
  .history-question-container
  .question-container
  .question-choice-container {
  gap: 0.25rem;
}

.drawer
  .history-quiz-drawer
  .history-question-container
  .question-container
  .question-choice-container
  .choice-button
  .choice-identifier {
  font-size: 20px;
  min-height: 36px;
}

.drawer
  .history-quiz-drawer
  .history-question-container
  .question-container
  .question-choice-container
  .choice-button
  .choice-text {
  padding: 0.5rem;
  min-height: 36px;
}

.drawer
  .choice-button:not(.correct):not(.wrong):not(.empty):disabled
  .choice-text {
  background-color: var(--background-color);
}

.history-quiz-question-navigation-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: auto;
}

.history-quiz-question-navigation-container .navigation-item {
  padding: 1rem;
  font-weight: 600;
  color: var(--button-text-color);
  cursor: pointer;
}

.history-quiz-question-navigation-container .navigation-item.correct {
  background-color: var(--correct-answer-background-color);
}

.history-quiz-question-navigation-container .navigation-item.wrong {
  background-color: var(--wrong-answer-background-color);
}

.history-quiz-question-navigation-container .navigation-item.empty {
  background-color: var(--progressbar-color);
}
